---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
---

<html lang="en">

<head>
	<MainHead title="About | Sean McLin" description="About Sean McLin Lorem Ipsum" />
	<style lang="scss">
		.heroImg {
			max-height: 24rem;
			object-fit: cover;
			overflow: hidden;

			img {
				width: 100%;
			}
		}

		.bio {
			font-size: var(--f-u1);
			line-height: 2;
		}
	</style>
</head>

<body>
	<Nav />
	<div class="wrapper">
		<h1>About Sean</h1>
		<div class="heroImg">
			<img width="500" height="100"
				src="https://images.unsplash.com/photo-1653383726851-46c29be94b3b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80" />
		</div>
		<div class="bio wrapper wrapper__readable mt8">
			<p>
				I'm a motivated software developer with education in Software Development and experience building and
				maintaining websites and applications for desktop and mobile environments. I am familiar with various
				programming languages like JavaScript, C#, Python and C++ but my favorite programming language is
				JavaScript because it is essentially the
				engine of websites and web applications and because some of my favorite frameworks like Next.js,
				RemixJS, Svelte, and Nuxt.js are
				written in Javascript.
			</p>
		</div>
	</div>
	<Footer />
</body>

</html>